includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    level: 5

    noModelMake: false

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Contracts\\Pagination\\LengthAwarePaginator::through\(\)\.#'