includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    level: 5

    noModelMake: false

    ignoreErrors:
        - '#Access to an undefined property App\\Models\\.*::\.*.#'
        - '#Relation .* is not found in App\\Models\\.* model.#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::displayable\(\)#'