@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0e1015;
}

.bar {
    width: inherit;
    transition-property: transform, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    &--1 {
        @apply top-0;
        @apply left-0;
    }
    
    &--2 {
        @apply top-3.25;
        @apply left-0;
    }
    
    &--3 {
        @apply top-3.25;
        @apply left-0;
    }
    
    &--4 {
        @apply bottom-0;
        @apply left-0;
    }
}

.burger.is-open {
    .bar {
        &--1 {
            transform: translateX(40px);
            @apply bg-transparent;
        }

        &--2 {
            transform: rotate(45deg);
        }
        
        &--3 {
            transform: rotate(-45deg);
        }
        
        &--4 {
            transform: translateX(-40px);
            @apply bg-transparent
        }
    }
}

.submenu {
    @apply grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.4s ease-out;
    
    &:not(.is-open) {
        grid-template-rows: 0fr;

        @screen lg {
            grid-template-rows: 1fr;
        }
    }
}

.menu-link:focus {
    @apply outline-none;
}

@screen lg {
    .menu-link {
        &::after {
            content: "";
            @apply block;
            @apply h-0.5;
            @apply mt-1;
            @apply bg-orange-500 rounded-4;
            @apply scale-x-0;
            transition: transform 0.2s ease-in;
        }

        &:hover::after,
        &:focus::after {
            @apply scale-x-100;
        }
    }
}

.splide__track {
    padding-left: 16px !important;

    @screen lg {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

.arrow {
    @apply hidden lg:block;
    @apply lg:absolute lg:top-1/2 lg:p-2 lg:-translate-y-1/2;
    @apply lg:border-2 lg:border-black lg:bg-white lg:rounded-full;
    @apply lg:z-10;

    svg {
        @apply w-5 h-5;
    }

    &:not([disabled]) {
        @apply lg:bg-white/80;
        transition-property: transform, border-color, background-color;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;

        &:hover,
        &:focus {
            transform: translateY(-50%) scale(1.4);
            @apply border-amber-600 bg-white;
        }

        &:hover svg,
        &:focus svg {
            @apply fill-amber-600;

        }

        & svg {
            transition-property: fill;
            transition-duration: 0.2s;
            transition-timing-function: ease-in;
        }
    }
 
    &--prev:not([disabled]):hover,
    &--prev:not([disabled]):focus {
        transform: translateY(-50%) rotate(-180deg) scale(1.4);
    }

    &[disabled] {
        @apply lg:bg-slate-200/90 lg:border-slate-300;
        @apply lg:fill-slate-400;
        @apply lg:cursor-not-allowed;
    }
}

@screen lg {
    .logo-text {
        transition: text-shadow 0.2s ease-out;

        &:hover,
        &:focus {
            text-shadow: 1px 1px 2px theme("colors.slate[200]");
        }
    }

    .arrow {
        &--prev {
            @apply -left-5;
            transform: translateY(-50%) rotate(-180deg);
        }

        &--next {
            @apply -right-5;
        }
    }

    .footer-link {
        svg {
            transition: color 0.2s ease-in;
        }

        &:hover .tooltip,
        &:focus .tooltip {
            @apply opacity-100;
            transform: translateX(-50%) translateY(-60px);
        }

        &:hover svg,
        &:focus svg {
            @apply text-orange-500;
        }
    }
}

.tooltip {
    position: absolute !important;
    @apply top-1/2 left-1/2;
    @apply opacity-0;
    @apply -translate-x-1/2 -translate-y-1/2;
    transition: opacity transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;

    &::after {
        content: '';
        @apply absolute left-1/2;
        bottom: -6px;
        @apply w-0 h-0;
        @apply border-t-6 border-t-orange-500 border-r-6 border-r-transparent border-l-6 border-l-transparent;
        @apply -translate-x-1/2;
    }
}