@tailwind base;
@tailwind components;
@tailwind utilities;

.bar {
    @apply absolute;
    width: inherit;
    @apply h-1;
    @apply bg-neutral-50;
    @apply rounded-4;
    transition-property: transform, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.bar--1 {
    @apply top-0;
    @apply left-0;
}

.bar--2 {
    top: 13px;
    @apply left-0;
}

.bar--3 {
    top: 13px;
    @apply left-0;
}

.bar--4 {
    @apply bottom-0;
    @apply left-0;
}

.burger.is-open .bar--1 {
    transform: translateX(40px);
    @apply bg-transparent;
}

.burger.is-open .bar--2 {
    transform: rotate(45deg);
}

.burger.is-open .bar--3 {
    transform: rotate(-45deg);
}

.burger.is-open .bar--4 {
    transform: translateX(-40px);
    @apply bg-transparent
}

.submenu {
    @apply grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.4s ease-out;
}

.submenu:not(.is-open) {
    grid-template-rows: 0fr;
}

.menu-link:focus {
    outline: none;
}

@media screen and (min-width: 1024px) {
    .submenu:not(.is-open) {
        grid-template-rows: 1fr;
    }

    .menu-link::after {
        content: "";
        @apply block;
        @apply mt-1;
        @apply h-0.5;
        @apply bg-orange-500;
        @apply rounded-[4px];
        @apply scale-x-0;
        transition: transform 0.2s ease-in;
    }

    .menu-link:hover::after,
    .menu-link:focus::after {
        @apply scale-x-100;
    }
}

.splide__track {
    @apply !pl-4;
    @apply lg:!px-0;
}

.arrow {
    display: none;

    @apply lg:block;
    @apply lg:absolute lg:top-1/2 lg:p-2;
    @apply lg:border-2 lg:border-black lg:bg-white;
    @apply lg:rounded-full;
    @apply lg:z-10;
    @apply lg:-translate-y-1/2;
}

.arrow:not([disabled]) {
    @apply lg:bg-white/80;
    transition-property: border-color, background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

.arrow:not([disabled]):hover,
.arrow:not([disabled]):focus {
    @apply border-amber-600;
    @apply bg-white;
}

.arrow:not([disabled]):hover svg,
.arrow:not([disabled]):focus svg {
    @apply fill-amber-600
}

.arrow:not([disabled]) svg {
    transition: fill 0.1s ease-in;
}

.arrow[disabled] {
    @apply lg:bg-slate-200/90;
    @apply lg:border-slate-300;
    @apply lg:fill-slate-400;
    @apply lg:cursor-not-allowed;
}

@media screen and (min-width: 1024px) {
    .logo-text {
        transition: text-shadow 0.2s ease-out;
    }

    .logo-text:hover,
    .logo-text:focus {
        text-shadow: 1px 1px 2px theme("colors.slate[200]");
    }

    .arrow--prev {
        left: -30px;
        transform: translateY(-50%) scale(-1, 1);
    }
    
    .arrow--next {
        right: -30px;
    }
}